.balloons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.balloon {
  border-radius: 50%;
  background-color: yellow;
  height: 150px;
  width: 150px;
}
.hide {
  display: none;
}

.hideBlue {
  display: none;
}
.hideYellow {
  display: none;
}

.popped {
  background-color: white;
}
