.balloons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.balloonRed {
  border-radius: 50%;
  background-color: red;
  height: 150px;
  width: 150px;
}
.balloonBlue {
  border-radius: 50%;
  background-color: blue;
  height: 150px;
  width: 150px;
}

.balloonYellow {
  border-radius: 50%;
  background-color: yellow;
  height: 150px;
  width: 150px;
}
.hide {
  display: none;
}

.hideBlue {
  display: none;
}
.hideYellow {
  display: none;
}

.popped {
  background-color: white;
}
